/**
 ****************************************************************************************************
 * 1. Resets
 * 2. Link Styles
 * 3. Headings
 * 4. Containers
 * 5. Header
 * 6. Content
 * 6.1. Todo table
 * 7. Footer
 * 8. Menu
 * 9. Sub-menu
 * 10. Pagination
 * 11. Color themes
 ****************************************************************************************************
*/

/* 1. Resets
----------------------------------------------------------------------------------------------------*/
html, body, div, ul, fieldset{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}

body {
    font: 12px/20px Helvetica, Arial, sans-serif;
}

p {
    padding-bottom: 30px;
}
ol, ul {
    list-style: none outside none;
}

::selection {
    background: #fdd283;
    color: #000;
}
::-moz-selection {
    background: #fdd283;
    color: #000;
}
img {
    border: none;
}

/* 2. Links
----------------------------------------------------------------------------------------------------*/
a , a:visited {
    color: white;
}

/* 3. Headings
----------------------------------------------------------------------------------------------------*/

h1 {
    font:bold 40px Georgia, Arial, sans-serif;
}
h2 {
    font: 30px Georgia, Arial, sans-serif;
}
h3 {
    font: 20px Georgia, Arial, sans-serif;
}
h4 {
    font: bold 13px Georgia, Arial, sans-serif;
    margin: 0;
}

/* 4. Containers
----------------------------------------------------------------------------------------------------*/
div#main-wrapper {
    margin: 0px auto;
    width: 100%;
}

div#header-wrapper {
    height: 70px;
    width: 1024px;
    margin: 20px auto;
}

#content-wrapper {
    -webkit-box-shadow: 0px 11px 30px 2px black;
    -moz-box-shadow:    0px 11px 30px 2px black;
    box-shadow:         0px 11px 30px 2px black;
    border: 1px solid #888888;
    margin: auto;
    background: #F5F5F5;
    min-height: 500px;
    width: 998px;
    behavior: url(ie-css3.htc);
}

.sign-in {
    float: right;
    width: 335px;
}

.signin-box {
    background: #FAF7F7;
    border: 1px solid #E5E5E5;
    margin: 25px;
    padding: 20px;
}

.signin-box h2 {
    font-size: 16px;
    height: 16px;
    line-height: 17px;
    margin: 0px 0px 1.2em;
    position: relative;
}

.signin-box div {
    margin: 0px 0px 1.5em;
}

.signin-box label {
    display: block;
}

label {
    display: block;
    font-weight: 700;
    margin: 0px 0px 0.5em;
    font-size: 15px;
}

.signin-box.email-label, .signin-box.passwd-label {
    display: block;
    font-weight: 700;
    margin: 0px 0px 0.5em;
}

strong {
    color: #222222;
}

.signin-box input[type="text"], .signin-box input[type="password"] {
    direction: ltr;
    font-size: 15px;
    height: 32px;
    width: 100%;
}

input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-radius: 1px;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid #C0C0C0;
    box-sizing: border-box;
    display: block;
    clear: both;
    height: 29px;
    margin: 0px;
    padding: 0px 8px;
}

.signin-box input[type="submit"] {
    font-size: 13px;
    height: 32px;
    margin: 0px 1.5em 1.2em 0px;color: #FFFFFF;
    background: rgb(77,154,254);
    background: -o-linear-gradient(top, rgb(71,135,237), rgb(71,135,237));
    border: 1px solid #3079ED;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.102);
}

.signin-box input[type="submit"]:hover {
    background: #71A6FE;
    background: -o-linear-gradient(top, #71A6FE, #71A6FE);
}

button, input[type="submit"] {
    display: inline-block;
    margin: 0px;
    padding: 0px 8px;
    min-width: 46px;
    height: 29px;
    line-height: 29px;
    vertical-align: bottom;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    -webkit-transition: all 0.22s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
    -moz-transition: all 0.22s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
    -o-transition: all 0.22s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
    border-radius: 2px;
    cursor: pointer;
    background-color: #F5F5F5;
    background-image: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
    border: 1px solid #DCDCDC;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

.product-info {
    position: relative;
    text-align: justify;
    margin: 0px 400px 0px 0px;
}

.product-info h1 {
    padding: 0;
    margin: 0;
}

.product-info img {
    margin-left: 100px;
}

form#regform {
    width: 300px;
    margin: auto;
}

.fineBox {
    width: auto;
    background: #FAF7F7;
    border: 1px solid #E5E5E5;
}

#search-keyword {
    margin: 0px;
    padding: 0px;
    height: 1.75em;
}

div.right-panel {
    min-width: 22.5em;
    float: right;
}

div.right-panel button, #newtag {
    margin-top: 10px;
}

div.tag-container {
    margin: 25px;
    padding: 0px 20px 20px;
}

input.tag-checkbox-hidden {
    display: none;
}

#newtag {
    width: auto;
}

#deleteTags {
    margin-left: 8px;
}

input#search-keyword {
    display: inline;
    clear: none;
    width: auto;
}

div#advanced-search-div input {
    clear: none;
    width: auto;
}

div.todo {
    width: 660px;
    padding: 0px 20px;
    margin: 25px;
}

div#todo-for-tags-hidden {
    display: none;
}

#todo-for-tags span {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0px 2px 2px;
    min-width: 46px;
    color: #444444;
    background-color: #F5F5F5;
    border: 1px solid #DCDCDC;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
}

#todo-for-tags span.clicked {
    color: #FFFFFF;
}

#footer-wrapper {
    -webkit-box-shadow: 0px 0px 20px 2px black;
    -moz-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 11px 20px 2px black;
    border: 1px solid black;
    background:  #5b5b5b url("../img/bg-tile.png") repeat 0 0;
    height: 90px;
    margin: 0px auto 40px;
    width: 998px;
    behavior: url(ie-css3.htc);
}

#footer-container-right {
    top: 20px;
    color: white;
    margin-left: 20px;
}

div#bottomPanel {
    display: none;
    -webkit-box-shadow: 0px 0px 20px 2px black;
    -moz-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 0px 20px 2px black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    z-index: 999;
    behavior: url(ie-css3.htc);
}

/* 5. Header
----------------------------------------------------------------------------------------------------*/
div#logo {
    position: relative;
    z-index: 11;
    float: left;
    margin-left: -20px;
}

div#logo img {
    height: 50px;
    width: 300px;
}

/* 6. Content
----------------------------------------------------------------------------------------------------*/
.error_strings{
    font-family:Verdana; font-size:12px;
    color:#660000;
    margin-top: -30px;
}

/* 6.1. Todo table
----------------------------------------------------------------------------------------------------*/
table.todo-instance {
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
    background: #FAF7F7;
    width: 660px;
    margin: 25px;
    padding: 0px 20px;
}
table.todo-instance td#todo-active-checkbox {
    border: 1px solid #E5E5E5;
    text-align: center;
    vertical-align: top;
}
table.todo-instance td#todo-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
table.todo-instance td#todo-date {
    border-bottom: 1px solid #E5E5E5;
}
table.todo-instance td#todo-tags {
    border: 1px solid #E5E5E5;
    font-style: italic;
}
table.todo-instance td#todo-list {
    border: 1px solid #E5E5E5;
}
table.todo-instance td#todo-list ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
table.todo-instance td#todo-state {
    border: 1px solid #E5E5E5;
    text-align: center;
}
table.todo-instance td#description {
    border: 1px solid #E5E5E5;
    text-align: justify;
}

/* 8. Menu
----------------------------------------------------------------------------------------------------*/

#menu {
    position: relative;
    z-index: 10;
    padding: 10px;
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    -webkit-border-radius : 10px;
    -moz-border-radius : 10px;
    border-radius : 10px;
    height: 29px;
    margin: 20px 0px;
    width: auto;
    min-width: 68.5em;
}

#menu ul li {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    list-style: none;
    float:left;
    text-align: center;
    padding: 5px 20px;
    min-width: 4.9em;
}

li.menuitem {
    cursor: pointer;
}

li.menuitem:hover {
    background: #D3D3D3;
    background : rgba(0,0,0,.20);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

#advanced-search-show, #clear-search {
    font-size: 0.8em;
    letter-spacing: 1px;
}

/* 9. Submenu
----------------------------------------------------------------------------------------------------*/

.submenu {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 660px;
    margin: auto;
    background: #FAF7F7;
    border: 1px solid #272727;
    top: -25px;
}

#new-todo, #advanced-search-div, #settings {
    display: none;
    padding-bottom: 20px;
}

#new-todo {
    display: none;
}

#new-todo > * {
    margin-top: 10px;
}

#new-todo div span {
    padding-left: 5px;
    padding-right: 5px;
}

#new-todo input {
    width: auto;
    clear: none;
    padding: 0;
    height: 1.9em;
}

#new-todo input[type="checkbox"] {
    height: auto;
}

#new-todo textarea {
    width: 100%;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1;
    background-image:url("../img/modal-bg.png" );
}

#settings select {
    display: block;
    margin-bottom: 10px;
}

/* 10. Pagination
----------------------------------------------------------------------------------------------------*/

.for-pagination {
    margin: 25px;
}

.pagination {
    min-height: 2.4em;
}

.pagination > * {
    border-radius: 3px;
}

.pagination a {
    text-decoration: none;
    color: #444444;
    background-color: #F5F5F5;
    border: 1px solid #DCDCDC;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
    min-width: 1em;
    font-size: 11px;
    text-align: center;
}

.pagination span {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pagination .prev, .pagination .next {
    font-weight: 700;
}

/* 11. Color themes
----------------------------------------------------------------------------------------------------*/

.body-cyan {
    background: rgb(3,66,75) url('../img/cyan.png') repeat;
}

.cyan {
    color: #FFFFFF;
    background: rgb(64,181,197);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(64,181,197)), to(rgb(7,165,187)));
    background: -moz-linear-gradient(top, rgb(64,181,197), rgb(7,165,187));
    background: -o-linear-gradient(top, rgb(64,181,197), rgb(7,165,187));
    border: 1px solid #2f8893;
}

button.cyan:hover {
    background: rgb(102,196,209);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(102,196,209)), to(rgb(102,196,209)));
    background: -o-linear-gradient(top, rgb(102,196,209), rgb(102,196,209));
}

.body-dark {
    background: rgb(16,16,16) url('../img/dark.png') repeat;
}

.dark {
    color: #FFFFFF;
    background:  rgb(89,89,89);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(89,89,89)), to(rgb(54,54,54)));
    background: -moz-linear-gradient(top, rgb(89,89,89), rgb(54,54,54));
    background: -o-linear-gradient(top, rgb(89,89,89), rgb(54,54,54));
    border: 1px solid #272727;
}

button.dark:hover {
    background: rgb(106,106,106);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(106,106,106)), to(rgb(106,106,106)));
    background: -o-linear-gradient(top, rgb(106,106,106), rgb(106,106,106));
}

.body-google-blue {
    background: rgb(28,54,95) url('../img/google-blue.png') repeat;
}

.google-blue {
    color: #FFFFFF;
    background: rgb(77,154,254);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(77,154,254)), to(rgb(71,135,237)));
    background: -moz-linear-gradient(top, rgb(77,154,254)), to(rgb(71,135,237));
    background: -o-linear-gradient(top, rgb(77,154,254), rgb(71,135,237));
    border: 1px solid #3079ED;
}

button.google-blue:hover {
    background: rgb(113,166,254);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(113,166,254)), to(rgb(113,166,254)));
    background: -o-linear-gradient(top, rgb(113,166,254), rgb(113,166,254));
}

.body-gray {
    background: rgb(82,82,82) url('../img/gray.png') repeat;
}

.gray {
    color: #000000;
    background: rgb(240,240,240);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(240,240,240)), to(rgb(204,204,204)));
    background: -moz-linear-gradient(top, rgb(240,240,240), rgb(204,204,204));
    background: -o-linear-gradient(top, rgb(240,240,240), rgb(204,204,204));
    border: 1px solid #d6d6d6;
}

#todo-for-tags span.gray {
    color: #000000;
}

button.gray:hover {
    background: rgb(242,242,242);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(242,242,242)), to(rgb(242,242,242)));
    background: -o-linear-gradient(top, rgb(242,242,242), rgb(242,242,242));
}

.body-magenta {
    background: rgb(71,10,36) url('../img/magenta.png') repeat;
}

.magenta {
    color: #FFFFFF;
    background: rgb(190,64,120);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(190,64,120)), to(rgb(177,24,91)));
    background: -moz-linear-gradient(top,rgb(190,64,120), rgb(177,24,91));
    background: -o-linear-gradient(top,rgb(190,64,120), rgb(177,24,91));
    border: 1px solid #841144;
}

button.magenta:hover {
    background: rgb(203,102,147);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(203,102,147)), to(rgb(203,102,147)));
    background: -o-linear-gradient(top, rgb(203,102,147), rgb(203,102,147));
}

.body-orange {
    background: rgb(128,54,12) url('../img/orange.png') repeat;
}

.orange {
    color: #FFFFFF;
    background: rgb(255,133,64);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,133,64)), to(rgb(255,107,24)));
    background: -moz-linear-gradient(top, rgb(255,133,64), rgb(255,107,24));
    background: -o-linear-gradient(top, rgb(255,133,64), rgb(255,107,24));
    border: 1px solid #c04f11;
}

button.orange:hover {
    background: rgb(255,157,102);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,157,102)), to(rgb(255,157,102)));
    background: -o-linear-gradient(top, rgb(255,157,102), rgb(255,157,102));
}

.body-yellow {
    background: rgb(128,94,22) url('../img/yellow.png') repeat;
}

.yellow {
    color: #FFFFFF;
    background: rgb(255,199,79);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,199,79)), to(rgb(255,188,43)));
    background: -moz-linear-gradient(top, rgb(255,199,79), rgb(255,188,43));
    background: -o-linear-gradient(top, rgb(255,199,79), rgb(255,188,43));
    border: 1px solid #c08c1f;
}

button.yellow:hover {
    background: rgb(255,210,114);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,210,114)), to(rgb(255,210,114)));
    background: -o-linear-gradient(top, rgb(255,210,114), rgb(255,210,114));
}