/**
 ****************************************************************************************************
 * 1. Resets
 * 2. Link Styles
 * 3. Headings
 * 4. Containers
 * 5. Header
 * 6. Content
 * 7. Footer
 * 8. Menu
 ****************************************************************************************************
*/
.error_strings{
    font-family:Verdana; font-size:12px;
    color:#660000;
    margin-top: -30px;
}
/* 1. Resets
----------------------------------------------------------------------------------------------------*/
html, body, div, ul, fieldset{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}

body {
    color: #444;
    background: #2c2928 url("../img/bg-tile.png") repeat 0 0;
    font: 12px/20px Helvetica, Arial, sans-serif;
}
p {
    padding-bottom: 30px;
}
ol, ul {
    list-style: none outside none;
}

::selection {
    background: #fdd283;
    color: #000;
}
::-moz-selection {
    background: #fdd283;
    color: #000;
}
img {
    border: none;
}

/* 3. Headings
----------------------------------------------------------------------------------------------------*/

h1 {
    font:bold 40px Georgia, Arial, sans-serif;
}
h2 {
    font: 30px Georgia, Arial, sans-serif;
}
h3 {
    font: 20px Georgia, Arial, sans-serif;
}
h4 {
    font: bold 13px Georgia, Arial, sans-serif;
    margin: 0;
}

/* 4. Containers
----------------------------------------------------------------------------------------------------*/
div#main-wrapper {
    margin: 0px auto;
    width: 100%;
}

div#header-wrapper {
    background: url("../img/header-bg.png") repeat-x transparent;
    height: 85px;
    width: 100%;
}

div#logo {
    float: left;
    margin-left: 150px;
    margin-top: -20px;
}

div#logo img {
	height: 105px;
}

#content-wrapper {
    -webkit-box-shadow: 0px 11px 30px 2px black;
    -moz-box-shadow:    0px 11px 30px 2px black;
    box-shadow:         0px 11px 30px 2px black;
    border: 1px solid #888888;
    margin: auto;
    background: #F5F5F5;
    min-height: 500px;
    width: 998px;
    behavior: url(ie-css3.htc);
}

.main {
    max-width: 1000px;
    min-width: 780px;
    padding: 40px;
    width: auto;
}

.sign-in {
    float: right;
    width: 335px;
}

.signin-box {
    background: #FAF7F7;
    border: 1px solid #E5E5E5;
    margin: 12px 12px 0px;
    padding: 20px 25px 15px;
}

.signin-box h2 {
    font-size: 16px;
    height: 16px;
    line-height: 17px;
    margin: 0px 0px 1.2em;
    position: relative;
}

.signin-box div {
    margin: 0px 0px 1.5em;
}

.signin-box label {
    display: block;
}

label {
    display: block;
    font-weight: 700;
    margin: 0px 0px 0.5em;
    font-size: 15px;
}

.signin-box .email-label, .signin-box .passwd-label {
    display: block;
    font-weight: 700;
    margin: 0px 0px 0.5em;
}

strong {
    color: #222222;
}

.signin-box input[type="text"], .signin-box input[type="password"] {
    direction: ltr;
    font-size: 15px;
    height: 32px;
    width: 100%;
}

input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-radius: 1px;
    border-right: 1px solid #D9D9D9;
    border-top: 1px solid #C0C0C0;
    box-sizing: border-box;
    display: block;
    clear: both;
    height: 29px;
    margin: 0px;
    padding: 0px 8px;
}

.signin-box input[type="submit"] {
    font-size: 13px;
    height: 32px;
    margin: 0px 1.5em 1.2em 0px;
}

button.g-button, input[type="submit"].g-button {
    height: 29px;
    line-height: 29px;
    margin: 0px;
    vertical-align: bottom;
}

.g-button {
    -o-transition: all 0.22s cubic-bezier(0.25, 0.1, 0.25, 1) 0;
    background-color: #F5F5F5;
    background-image: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    color: #444444;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    min-width: 46px;
    padding: 0px 8px;
    text-align: center;
}

.g-button-submit {
    background-color: #4D90FE;
    background-image: -o-linear-gradient(top, #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.102);
}

.g-button-submit:hover {
    background-color: #59A9FF;
    background-image: -o-linear-gradient(top, #59A9FF, #5FAFFF);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

.product-info {
    position: relative;
    text-align: justify;
    margin: 0px 400px 0px 0px;
}

.product-info h1 {
    padding: 0;
    margin: 0;
}

.product-info img {
    margin-left: 100px;
}

form#regform {
    width: 300px;
    margin: auto;
}

.fineBox {
    width: auto;
    background: #FAF7F7;
    border: 1px solid #E5E5E5;
}

.sign-out {
    float: right;
    margin: 20px;
    padding: 15px;
}

#username-span {
    display: inline-block;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#signOut {
    margin-left: 10px;
}

div.right-panel {
    clear: right;
    min-width: 22em;
    float: right;
}

div.right-panel button, #newtag {
    margin-top: 10px;
}

div.tag-container, div#advanced-search-div {
    margin: 20px;
    padding: 0px 20px 20px;
}

input.tag-checkbox-hidden {
    display: none;
}

#newtag {
    width: auto;
}

#deleteTags {
    margin-left: 8px;
}

div.search-form {
    display: inline-block;
}

input#search-keyword {
    display: inline;
    clear: none;
    width: auto;
}

div#advanced-search-div input {
    clear: none;
    width: auto;
}

div.todo {
    width: 620px;
    padding: 0px 20px;
    margin: 20px;
}

div#new-todo, div#advanced-search-div {
    display: none;
    padding-bottom: 20px;
}

div#new-todo > *, div#advanced-search-div > * {
    margin-top: 10px;
}

div#new-todo div span {
    padding-left: 5px;
    padding-right: 5px;
}

div#new-todo input {
    clear: none;
}

div#new-todo textarea {
    width: 100%;
}

span.tag-span {
    cursor: pointer;
    background-color: #FF00FF;
}

span.tag-span:active {
    background-color: #FFFF00;  
}

#footer-wrapper {
    -webkit-box-shadow: 0px 0px 20px 2px black;
    -moz-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 11px 20px 2px black;
    border: 1px solid black;
    background:  #5b5b5b url("../img/bg-tile.png") repeat 0 0;
    height: 90px;
    margin: 0px auto 40px;
    width: 998px;
    behavior: url(ie-css3.htc);
}

#footer-container-right {
    top: 20px;
    color: white;
    margin-left: 20px;
}

div#bottomPanel {
    display: none;
    -webkit-box-shadow: 0px 0px 20px 2px black;
    -moz-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 0px 20px 2px black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    z-index: 999;
    behavior: url(ie-css3.htc);
}

/* 8. Menu
----------------------------------------------------------------------------------------------------*/
